# Salin file ini menjadi .env, lalu isi sesuai environment kamu.
# Jangan pernah commit file .env yang asli ke GitHub.

DB_HOST=localhost
DB_PORT=5432
DB_NAME=retail_oltp
DB_USER=retail_admin
DB_PASSWORD=retail_pass

# Path ke folder dataset Olist yang sudah diunduh (customers, orders, products, sellers)
RAW_DATA_DIR=datasets/raw
